<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Link shortening website{% endblock %}</title>
    </head>
    <body>
        {{ include("_header.html.twig") }}
        <!-- <label for="url">Enter url you want to shorten:</label> -->
        <!-- <input type="text" name="url" id="url" /> -->
        <!-- <button id="shortenButton" onclick="onClick()">Shorten</button> -->
    </body>
</html>
